body{
    background-color: #010E1E;
}

.grid{
   
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15vh 35vh 35vh 15vh  ;
    gap: 5px;
    font:"Open Sans";
    font-size: 25px;
    background-color:#e7ebf0;
    margin: 40px;
    outline:  solid 5px black;
    padding: 3px;
    overflow: hidden;
    
}
 
.grid div{
    padding: 10px;
    /* border: 2px solid #c2b8bc; */
}

.header , .footer{

    grid-column-start: 1;
    grid-column-end: span 2;
}
.header{
    display: grid;
    gap:10px;
    
    grid-template-columns: 10vw  30vw 27vw 20vw;
    grid-template-rows: 1;

}
.text-space , .picture-space {
    grid-row-start: 2;
    grid-row-end: span 2;
}

.menu{
   grid-column-start: 2;
   grid-column-end: 4;
   margin: 2px;
   padding: 10px;
   display: flex;
   justify-content: left;
   align-items: center;
   text-align: center;
   list-style-type:none;
}
.menu  > li > a {
    margin: 5px;
   padding: 0px 5px;
   text-decoration:none ;
    color:#345B63;
   font-size: 0.8em;
   
   /* transition: 0.3s; */
}
.menu  > li > a:hover{
    color: Dodgerblue;
}
.input{
    grid-column-start: 4;
    grid-column-end: 5;
}

.picture-space > img{
    border-radius: 30px;
    height: 33vw;
}
.input-1 , .input-2{
    width: 90px;
    height: 45px;
    
}
.input-1 , .button-2 {
    border: 0px;
    background-color:#e7ebf0;
    color:#345B63;
}
.input-1:hover , .button-2:hover{
    border: 0px;
    background-color:#010E1E;
    color: #e7ebf0;
}
.input-2 , .button-1{
    text-align: center;
    background-color: #010E1E;
    color: #e7ebf0;

}.input-2:hover , .button-1:hover{
    border: 0px;
    background-color:#166AB5;
    color: #e7ebf0;
}
.text-space > div> h1 {
    font-size: clamp(25px, 4vw , 40px);
}
.p{
    font-size: clamp(1em , 2vw , 2em );
}

.text-space{
    margin: clamp(1em , 5vw , 5em);
    margin-top: auto;
    font-family:"Open Sans";
}
.button-1 , .button-2{
    width: 10vw;
    height: 10vh;
   margin-top: 30px;
}

.icon{
    font-size: 50px;
     color: Dodgerblue;
      margin-left: 30px;
}

.footer{
    display: grid;
    grid-template-columns: 10vw 10vw 30vw 20vw;
    grid-template-rows: 1;
}

.button-key{
    display: inline-flex;
    height: 30px;
    margin-top: 36px;
    margin-left: 40px;
    box-shadow: #c2b8bc;  
}
.button-key:hover{
    background-color: #166AB5;
    color: aliceblue;
}
.button-touch{
    border: 0px;
    background-color:#e7ebf0;
    margin-top: 20px;
    display: inline-flex;
    width: 95px;
    height: 30px;
    margin-top: 37px;  
}
.button-touch:hover{
    border: 0px;
    background-color:#010E1E;
    color: #e7ebf0;
}


.upload {
    grid-column-start: 4;
    grid-column-end: 5;
    margin-left: 60vw;
    font-size: 50px;
}
.upload:hover{
    color: #166AB5;
}
